@import url('https://fonts.googleapis.com/css?family=Roboto:400,700i&display=swap');
@import 'variables';
@import './sass/section/jumbotron';
@import './sass/section/first-content';
@import './sass/section/gallery';
@import './sass/section/details';
@import './sass/section/second-jumbotron';
@import './sass/section/onboard-content';
@import './sass/section/shopping';
@import './sass/section/footer';

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.row::before,
.row::after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    float: left;
    min-height: 1px;
    padding: 5px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* shopping */
.shopping {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    background: rgb(238, 235, 235);

    .buy {
        width: calc(100% - 40%);
        margin: 0 auto;
        display: flex;
        // border: 1px solid rgb(228, 132, 132);
    }

    .legacy {
        // border: 1px solid rgb(0, 0, 0);
        box-shadow: 1px 1px 15px 15px rgb(224, 223, 223);
        border-radius: 1%;
        background: white;
        width: 350px;
        height: 480px;
        margin-top: 40px;
        margin-left: 100px;

        h4 {
            color: rgb(29, 28, 28);
            font-size: 18px;
            letter-spacing: 1px;
            text-transform: capitalize;
        }

        p {
            padding-top: 15px;
            text-transform: underline;
            font-size: 14px;
            text-align: justify;
            letter-spacing: 1px;
        }

        &:last-child {
            color: rgb(172, 172, 172);
            font-size: 14px;
            word-spacing: 1px;
        }

        .first-object {
            width: 80px;
            height: 20px;
            border-radius: 8%;
            text-align: center;
            margin-top: 1px;
            font-size: 14px;
            color: white;
            background: rgb(207, 203, 203);
            text-transform: uppercase;
            padding-left: 7px;

            p {
                padding-top: 3px;
                font-size: 14px;
                text-transform: underline;
            }
        }

        button {
            border: 1px solid rgb(138, 189, 138);
            width: 130px;
            height: 45px;
            background-color: rgb(138, 189, 138);
            border-radius: 3%;
            color: #fff;
            text-transform: uppercase;
            font-size: 12px;
            text-align: center;
            cursor: pointer;

            &:hover {
                background: rgb(221, 170, 76);
            }
        }
    }

    .most-popular {
        // box-shadow: 1px 1px 15px 15px rgb(224, 223, 223);
        border-radius: 1%;
        background: white;
        width: 350px;
        height: 480px;
        margin-top: 40px;
        margin-left: 250px;

        h4 {
            color: rgb(29, 28, 28);
            font-size: 18px;
            letter-spacing: 1px;
            text-transform: capitalize;
        }

        p {
            padding-top: 15px;
            text-transform: underline;
            font-size: 14px;
            text-align: justify;
            letter-spacing: 1px;
        }

        .second-object {
            width: 80px;
            height: 20px;
            border-radius: 8%;
            text-align: center;
            font-size: 14px;
            color: white;
            background: rgb(207, 203, 203);
            text-transform: uppercase;

            p {
                padding-top: 5px;
            }
        }

    }

    .button {
        width: 130px;
        height: 45px;
        background: rgb(150, 84, 150);
        border: 1px solid rgb(150, 84, 150);
        cursor: pointer;
        color: white;
        text-transform: uppercase;
        font-size: 12px;
        text-align: center;

        &:hover {
            background: rgb(221, 170, 76);
        }
    }

    .icons {
        padding-top: 15px;

        i {
            font-size: 22px;
        }
    }
}

// media queries :

@media(max-width: 767px) {
}