@import url('https://fonts.googleapis.com/css?family=Roboto:400,700i&display=swap');

* {
    box-sizing: border-box;
}

.row::before,
.row::after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    float: left;
    min-height: 1px;
    padding: 5px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
}

/* jumbotron */
.jumbotron {
    background-image: url(https://images.unsplash.com/photo-1530374580925-9d8051b37313?ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80);
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    padding-top: 42vh;
    position: relative;

    .logo-circle {
        border: 3px solid white;
        position: absolute;
        top: 60px;
        left: 320px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-weight: bold;
        display: inline-block;

        .small-circle {
            border: 3px solid white;
            position: absolute;
            margin: 7px;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            font-weight: bold;
            display: inline-block;
        }

        p {
            margin-left: 50px;
            margin-top: 2px;
            color: white;
            font-size: 22px;
            letter-spacing: 3px;
        }
    }

    .text-rotated>p {
        color: white;
        letter-spacing: 3px;
        width: 250px;
        height: 30px;
        transform: rotate(270deg);
        padding-left: 25px;
        margin-left: -100px;
        margin-top: 50px;
    }

    .desc {
        text-shadow: 2px 2px 5px rgb(87, 87, 87);
        color: #ffff;
        transform: translate(51%, 5%);
        font-size: 28px;
        text-transform: capitalize;
        z-index: 99;
        font-weight: 800;
        width: 650px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 3px;

        p {
            font-size: 14px;
        }
    }
}

/* section content */

.content {
    margin: 0 auto;
    width: 65%;
    height: auto;
    padding-top: 70px;

    h2 {
        font-size: 22px;
        color: #222626;
        text-transform: uppercase;
    }

    p {
        padding-top: 20px;
        font-size: 14px;
        color: rgb(185, 181, 181);
        letter-spacing: 2px;
        width: 90%;
    }

    .second-content {
        padding-left: 15px;
        padding-top: 55px;
        width: 50%;
    }
}

/* gallery */
.gallery {
    text-align: center;
    float: right;
    width: 83%;
    height: 700px;
    margin: 0 auto;
    box-shadow: 1px 1px 1px 1px none;
    overflow: hidden;

    h3 {
        text-align: justify;
        padding-left: 30px;
        padding-top: 35px;
        font-size: 18px;
        letter-spacing: 2px;
        text-transform: capitalize;
    }

    p {
        text-align: justify;
        padding-top: 15px;
        padding-left: 30px;
        padding-right: 100px;
        font-size: 16px;
        letter-spacing: 1px;
    }

    .more-info {
        padding-top: 50px;
        text-transform: capitalize;
        font-weight: bold;
    }

    .box {
        width: 600px;
        height: 250px;
    }
}

.container-gallery {
    color: #fff;
    background: #F5989D;
}

.gallery-content {
    color: #fff;
    background: #615F7D;
    transform: translate(25%);
}

.image {
    position: relative;

    img {
        width: 600px;
        height: 250px;
        transform: translate(55%, 7%);
        filter: brightness(50%);
    }

    h3 {
        display: block;
        position: absolute;
        transform: translate(330px, -250px);
        color: white;
    }

    p {
        position: absolute;
        transform: translate(330px, -180px);
        color: #fff;
        padding-right: 50px;
        font-size: 16px;
        letter-spacing: 1px;
    }

    .info {
        transform: translate(330px, -77px);
        text-align: justify;
        font-weight: bold;
        text-transform: capitalize;
    }
}

/* second gallery */

.second-image {
    position: relative;

    img {
        width: 546px;
        height: 250px;
        filter: brightness(50%);
        margin-top: -10px;
        margin-left: -53px;
    }

    h3 {
        position: absolute;
        top: -20px;
        color: #fff;
        letter-spacing: 1px;
        text-transform: capitalize;
    }

    p {
        position: absolute;
        top: 55px;
        color: #fff;
    }

    .more-info {
        transform: translate(-4px, 60px);
        text-align: justify;
        font-weight: bold;
        text-transform: capitalize;
    }
}

.small-box {
    width: 300px;
    height: 250px;
    transform: translate(19px, -28px);
    background-color: rgb(159, 201, 114);
    color: rgb(255, 255, 255);
    text-align: justify;
    letter-spacing: 1px;

    h3 {
        transform: translate(3px, 7px);
    }

}

.small-box-second {
    width: 277px;
    height: 250px;
    margin-top: -301px;
    margin-left: 314px;
    background-color: rgb(122, 94, 167);
    color: rgb(255, 255, 255);
    text-align: justify;
    letter-spacing: 1px;
}

.last-box {
    width: 500px;
    height: 250px;
    margin-top: -301px;
    margin-left: 492px;
    background-color: rgb(212, 135, 189);
    color: rgb(255, 255, 255);
    text-align: justify;
    letter-spacing: 1px;
    .last-info {
        margin-top: 65px;
        text-align: justify;
        font-weight: bold;
        text-transform: capitalize;
    }
}