@import url('https://fonts.googleapis.com/css?family=Roboto:400,700i&display=swap');
@import 'variables';
@import './sass/section/jumbotron';
@import './sass/section/first-content';
@import './sass/section/gallery';
@import './sass/section/details';
@import './sass/section/second-jumbotron';
@import './sass/section/onboard-content';
@import './sass/section/shopping';
@import './sass/section/footer';

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.row::before,
.row::after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    float: left;
    min-height: 1px;
    padding: 5px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.container {
    width: 100%;
    overflow: hidden;
}


/* class footer */
.footer {
    background-color: #1F2928;
}

.contact {
    width: calc(100% - 35%);
    height: 600px;
    margin: 0 auto;
    padding-top: 50px;
    color: rgb(255, 255, 255);
    // border: 1px solid rgb(219, 217, 217);
}

.first-container {
    display: inline;
    width: 40%;
    height: 250px;
    text-align: justify;

    h3 {
        padding-top: 3px;
        font-size: 18px;
        letter-spacing: 1px;
        text-transform: capitalize;
        text-align: justify;
    }

    p {
        padding-top: 15px;
        padding-right: 65px;
        letter-spacing: 1px;
        font-size: 14px;
    }
}

.second-container {
    display: inline;
    height: 250px;
    margin-right: 15px;
    width: 50%;

    /* box label */
    .box {
        padding-top: 15px;
        position: relative;

        span {
            border: 2px solid rgb(173, 214, 145);
            width: 50px;
            height: 40px;
            padding-top: -5px;
            margin-left: -4px;
            background: rgb(160, 218, 160);
            position: absolute;
        }

        .fas {
            font-size: 18px;
            padding-top: 7px;
        }

        input {
            text-align: center;
            width: 250px;
            height: 40px;
        }
    }
}

/* content */
.list-footer {
    text-transform: capitalize;
    text-align: justify;
    margin-right: 300px;
    padding-top: 50px;

    p {
        font-size: 18px;
        margin-left: 38px;
    }

    ul {
        list-style-type: none;
        padding-top: 8px;
    }

    li {
        list-style-type: none;
        padding-right: 25px;
        padding-top: 10px;
        font-size: 16px;
    }
}

@media(min-width: 992px) and (max-width: 1199px) {


    .second-container {
        display: block;
        width: 100%;

        input {
            margin-left: -30px;
        }
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .contact {
        width: 60%;
        height: auto;
        border: none;
        text-align: center;
    }

    .first-container {
        // display: block;
        width: 50%;
        text-align: center;

        h3 {
            text-align: justify;
        }

        p {
            text-align: justify;
        }
    }

    .second-container {
        // display: block;
        width: 80%;
        margin-left: 20px;
        margin-top: 70px;

        span {
            top: 15px;
            left: 210px;
        }

        .box {
            margin-top: 13px;
        }

        h3 {
            margin-top: -1px;
            text-transform: capitalize;
        }
    }
}

@media(max-width: 767px) {
    .contact {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        left: 0;
        right: 0;
    }

    .first-container {
        width: 100%;
        display: block;
        text-align: justify;
        padding-left: 20px;

        h3,
        p {
            width: 300px;
            letter-spacing: 0;
        }
    }

    .second-container {
        display: block;
        width: 100%;
        text-align: justify;

        input {
            margin-left: 20px;
        }

        span {
            top: 15px;
            left: 230px;
        }

        .box {
            margin-top: 13px;
        }

        h3 {
            margin-top: -10px;
            text-transform: capitalize;
            margin-left: 20px;
        }
    }

    .list-footer {
        text-align: justify;
        padding-top: -40px;
        width: 100%;

        p {
            font-size: 16px;
            text-align: justify;
            margin-left: 35px;
        }

        ul {
            list-style-type: none;
            margin-left: 12px;
            padding-top: 5px;
        }

        li {

            text-align: justify;
            margin-left: -15px;
        }
    }
}