/* section content */

.content {
    margin: 0 auto;
    width: 65%;
    height: auto;
    padding-top: 70px;

    h2 {
        font-size: 22px;
        color: #222626;
        text-transform: uppercase;
    }

    p {
        padding-top: 20px;
        font-size: 18px;
        color: rgb(185, 181, 181);
        letter-spacing: 2px;

    }

    .second-content {
        padding-left: 15px;
        padding-top: 55px;
        width: 50%;
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .content {
        width: 60%;

        h2 {
            font-size: 18px;
        }

        p {
            font-size: 14px;
        }

        .second-content {
            padding-top: 250px;
            padding-left: 25px;
        }
    }
}

@media(max-width: 767px) {
    .content {
        width: 100%;
        text-align: justify;
        display: block;

        h2 {
            width: 300px;
            text-align: center;
        }

        p {
            font-size: 16px;
            width: 300px;
            text-align: center;
            margin: 0 auto;
        }
    }

    .second-content {
        display: none;
        visibility: hidden;
    }
}