
/* class footer */
.footer {
    background-color: #1F2928;
}

.contact {
    width: calc(100% - 35%);
    height: 600px;
    margin: 0 auto;
    padding-top: 50px;
    color: $white;
    // border: 1px solid rgb(219, 217, 217);
}

.first-container {
    display: inline;
    width: 40%;
    height: 250px;
    text-align: justify;

    h3 {
        padding-top: 3px;
        font-size: 18px;
        letter-spacing: 1px;
        text-transform: capitalize;
        text-align: justify;
    }

    p {
        padding-top: 15px;
        padding-right: 65px;
        letter-spacing: 1px;
        font-size: 14px;
    }
}

.second-container {
    display: inline;
    height: 250px;
    margin-right: 15px;
    width: 50%;

    /* box label */
    .box {
        padding-top: 15px;
        position: relative;

        span {
            border: 2px solid rgb(173, 214, 145);
            width: 50px;
            height: 40px;
            padding-top: -5px;
            margin-left: -4px;
            background: rgb(160, 218, 160);
            position: absolute;
        }

        .fas {
            font-size: 18px;
            padding-top: 7px;
        }

        input {
            text-align: center;
            width: 250px;
            height: 40px;
        }
    }
}

/* content */
.list-footer {
    text-transform: capitalize;
    text-align: justify;
    margin: 0;
    padding-top: 50px;

    p {
        font-size: 18px;
        margin-left: 38px;
    }

    ul {
        list-style-type: none;
        padding-top: 8px;
    }

    li {
        list-style-type: none;
        padding-right: 25px;
        padding-top: 10px;
        font-size: 16px;
    }
}

@media(min-width: 992px) and (max-width: 1199px) {


    .second-container {
        display: block;
        width: 100%;

        input {
            margin-left: -30px;
        }
    }

    .list-footer {
        margin: 0;
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .contact {
        width: 60%;
        height: auto;
        border: none;
        text-align: center;
    }

    .first-container {
        // display: block;
        width: 50%;
        text-align: center;

        h3 {
            text-align: justify;
        }

        p {
            text-align: justify;
        }
    }

    .second-container {
        // display: block;
        width: 80%;
        margin-left: 20px;
        margin-top: 70px;

        span {
            top: 15px;
            left: 210px;
        }

        .box {
            margin-top: 13px;
        }

        h3 {
            margin-top: -1px;
            text-transform: capitalize;
        }
    }

    .list-footer {
        margin: 0;
    }
}

@media(max-width: 767px) {
    .contact {
        width: 100%;
        height: auto;

    }

    .first-container {
        width: 100%;
        display: block;
        text-align: justify;
        padding-left: 20px;
        margin-bottom: -50px;

        h3,
        p {
            width: 300px;
            letter-spacing: 0;
        }
    }

    .second-container {
        display: block;
        width: 100%;
        text-align: justify;

        input {
            margin-left: 20px;
            margin-bottom: 50px;
        }

        span {
            top: 15px;
            left: 230px;
        }

        .box {
            margin-top: 13px;
        }

        h3 {
            margin-top: -10px;
            text-transform: capitalize;
            margin-left: 20px;
        }
    }

    .list-footer {
        text-align: justify;
        margin-top: -150px;
        margin-right: 50px;
        width: 100%;

        p {
            font-size: 16px;
            text-align: justify;
            margin-left: 13px;
        }

        ul {
            list-style-type: none;
            padding-top: 5px;
        }

        li {

            text-align: justify;
            margin-left: -22px;
        }
    }
}