
/* gallery */
.gallery {

    float: right;
    width: 82.5%;
    height: 600px;
    margin: 0 auto;
    box-shadow: 1px 1px 1px 1px none;
    overflow: hidden;

    h3 {
        text-align: justify;
        padding-left: 30px;
        padding-top: 35px;
        font-size: 18px;
        letter-spacing: 2px;
        text-transform: capitalize;
    }

    p {
        text-align: justify;

        padding-left: 30px;
        padding-right: 100px;
        font-size: 16px;
        letter-spacing: 1px;
    }

    .more-info {
        padding-top: 40px;
        text-transform: capitalize;
        font-weight: bold;
    }

    .box {
        width: 600px;
        height: 250px;
    }
}

.container-gallery {
    color: #fff;
    background: rgb(223, 151, 154);
    opacity: 1;
}

.gallery-content {
    color: #fff;
    background: #615F7D;
    opacity: 1;
    transform: translate(25%);
}

.image {
    position: relative;

    img {
        width: 600px;
        height: 250px;
        transform: translate(56%, -6%);
        filter: brightness(50%);
    }

    h3 {
        display: block;
        position: absolute;
        transform: translate(330px, -249px);
        color: white;
    }

    p {
        position: absolute;
        transform: translate(330px, -180px);
        color: #fff;
        padding-right: 50px;
        font-size: 16px;
        letter-spacing: 1px;
    }

    .info {
        transform: translate(330px, -82px);
        text-align: justify;
        font-weight: bold;
        text-transform: capitalize;
    }
}

/* second gallery */

.second-image {
    position: relative;

    img {
        width: 550px;
        height: 250px;
        filter: brightness(50%);
        transform: translate(-0.1%, -10%);
    }

    h3 {
        position: absolute;
        top: -20px;
        color: #fff;
        letter-spacing: 1px;
        text-transform: capitalize;
    }

    p {
        position: absolute;
        top: 55px;
        color: #fff;
    }

    .more-info {
        transform: translate(-4px, 60px);
        text-align: justify;
        font-weight: bold;
        text-transform: capitalize;
    }
}

.small-box {
    width: 300px;
    height: 250px;
    transform: translate(19px, -28px);
    background-color: rgb(115, 133, 96);
    color: rgb(255, 255, 255);
    text-align: justify;
    letter-spacing: 1px;

    h3 {
        transform: translate(3px, 7px);
    }

}

.small-box-second {
    width: 279px;
    height: 250px;
    margin-top: -301px;
    margin-left: 314px;
    background-color: rgb(122, 94, 167);
    color: rgb(255, 255, 255);
    text-align: justify;
    letter-spacing: 1px;
}

.last-box {
    width: 500px;
    height: 250px;
    margin-top: -301px;
    margin-left: 497px;
    background-color: rgb(145, 100, 131);
    color: rgb(255, 255, 255);
    text-align: justify;
    letter-spacing: 1px;

    .last-info {
        margin-top: 65px;
        text-align: justify;
        font-weight: bold;
        text-transform: capitalize;
    }
}


/* icons */
i {
    padding-left: 15px;
}

