
/* jumbotron */
.jumbotron {
    background-image: url(https://images.unsplash.com/photo-1470259078422-826894b933aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80);
    max-width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    padding-top: 42vh;
    position: relative;

    .logo-circle {
        border: 3px solid white;
        position: absolute;
        top: 60px;
        left: 320px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-weight: bold;
        display: inline-block;

        .small-circle {
            border: 3px solid white;
            position: absolute;
            margin: 7px;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            font-weight: bold;
            display: inline-block;
        }

        p {
            margin-left: 50px;
            margin-top: 2px;
            color: white;
            font-size: 22px;
            letter-spacing: 2px;
        }
    }

    .text-rotated>p {
        color: white;
        letter-spacing: 3px;
        width: 250px;
        height: 30px;
        transform: rotate(270deg);
        padding-left: 25px;
        margin-left: -100px;
        margin-top: 50px;
        text-shadow: 4px 4px 5px rgb(7, 7, 7);
    }

    .desc {
        text-shadow: 3px 3px 5px rgb(0, 0, 0);
        color: #ffff;
        transform: translate(50%, 5%);
        font-size: 28px;
        text-transform: capitalize;
        z-index: 99;
        font-weight: 800;
        width: 650px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 3px;

        p {
            text-shadow: 4px 4px 5px rgb(7, 7, 7);
            font-size: 16px;
            letter-spacing: 2px;
        }
    }
}

@media(min-width: 992px) and (max-width: 1199px) {

    /* jumbotron */
    .jumbotron {
        height: 60vh;

        .logo-circle {
            position: absolute;
            top: 30px;
            left: 185px;
        }

        .text-rotated>p {
            margin-top: -40px;
        }

        .desc {
            text-shadow: 3px 3px 5px rgb(0, 0, 0);
            color: #ffff;
            transform: translate(28%, -45%);
            font-size: 28px;
        }
    }
}

@media(min-width: 768px) and (max-width: 991px) {

    /* jumbotron */
    .jumbotron {
        height: 50vh;

        .logo-circle {
            position: absolute;
            top: 10px;
            left: 170px;
        }

        .text-rotated>p {
            margin-top: -80px;
        }

        .desc {
            transform: translate(20%, -85%);
            font-size: 16px;
        }
    }
}

@media(max-width: 767px) {
    .jumbotron {
        background-image: url(https://images.unsplash.com/photo-1470259078422-826894b933aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80);
        max-width: 100%;
        height: 60vh;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        padding-top: 20vh;
        position: relative;

        .logo-circle {
            display: none;
        }

        .text-rotated>p {
            font-size: 16px;
            margin-top: 80px;
        }

        .desc {
            transform: translate(17%, 5%);
            font-size: 14px;
            width: 280px;

            p {
                font-size: 12px;
                letter-spacing: 1px;
            }
        }
    }
}