/* second-description */
.onboard {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background: rgb(83, 151, 83);

    .second-content {
        width: 65%;
        margin: 0 auto;
    }

    h3 {
        padding-bottom: 10px;
        color: #fff;
        font-size: 22px;
        text-transform: capitalize;
    }

    h4 {
        color: white;
        text-transform: capitalize;
        font-size: 18px;
    }

    p {
        color: white;
        margin-top: 10px;
        text-transform: capitalize;
        font-size: 14px;
        padding-right: 25px;
    }
}
.small-second-desc {
    display: none;
}
@media(max-width: 767px) {
    .description {
        display: none;
    }

    .small-second-desc {
        display: block;
        background: rgb(83, 151, 83);

        h3 {
            transform: translate(5px, 0);
            text-align: justify;
            text-transform: capitalize;
            color: #ffffff;
            font-size: 18px;
        }

        p {
            font-size: 14px;
            padding-right: 5px;
            text-align: justify;
            color: rgb(255, 255, 255);
            text-transform: capitalize;
        }
    }
}