/* shopping */
.shopping {
    max-width: 100%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    background: $white;
    border: 1px solid $grey-paragraph;
}

.container-buy {
    width: calc(100%-20%);
    margin: 0 auto;
}

.legacy {
    border-radius: 1%;
    width: 350px;
    height: 350px;
    margin-top: 42px;

    h4 {
        color: $black;
        font-size: 18px;
        letter-spacing: 1px;
        text-transform: capitalize;
    }

    p {
        text-transform: underline;
        font-size: 16px;
        text-align: justify;
        letter-spacing: 1px;
    }

    button {
        border: 1px solid $green-button;
        width: 130px;
        height: 45px;
        background-color: $green-button;
        border-radius: 3%;
        color: $white;
        text-transform: uppercase;
        font-size: 12px;
        text-align: center;
        cursor: pointer;

        &:hover {
            background: rgb(221, 170, 76);
        }
    }

    .icons {
        padding-top: 15px;

        i {
            font-size: 22px;
            padding-left: 10px;
            margin-right: 10px;
        }
    }
}

.most-popular {
    box-shadow: 1px 1px 15px 15px rgb(224, 223, 223);
    border-radius: 1%;
    background: $white;
    width: 350px;
    height: 350px;
    margin-top: 38px;
    margin-left: 60px;
    padding-left: 10px;
    padding-right: 15px;

    h4 {
        padding-top: 5px;
        color: $black;
        font-size: 18px;
        letter-spacing: 1px;
        text-transform: capitalize;
    }

    p {
        padding-right: 10px;
        text-transform: underline;
        font-size: 16px;
        text-align: justify;
        letter-spacing: 1px;
    }

    .button {
        width: 130px;
        height: 45px;
        background: $violet-button;
        border: 1px solid $violet-button;
        cursor: pointer;
        color: $white;
        text-transform: uppercase;
        font-size: 12px;
        text-align: center;

        &:hover {
            background: rgb(221, 170, 76);
        }
    }

    .icons {
        padding-top: 15px;

        i {
            font-size: 22px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

@media(min-width: 992px) and (max-width: 1199px) {
    .legacy {
        width: 280px;
        margin-left: -20px;

        button {
            margin-top: 18px;
        }
    }

    .most-popular {
        width: 280px;
        margin-left: 20px;
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .shopping {
        height: 450px;
    }

    .legacy {
        width: 280px;
        margin-left: -20px;

        button {
            margin-top: 18px;
        }
    }

    .most-popular {
        width: 280px;
        margin-left: 25px;
    }
}

@media(max-width: 767px) {
    .shopping {
        width: 100%;
        height: 500px;
        text-align: justify;
        margin-bottom: -50px;
    }

    .legacy {
        width: 300px;
        box-shadow: 1px 1px 15px 15px rgb(224, 223, 223);
        background: $white;
        padding-left: 10px;
        padding-top: 15px;

        p {
            padding-right: 10px;
            font-size: 14px;
        }

        button {
            width: 90px;
            height: 35px;
            font-size: 8px;
            margin-top: 20px;

            &:hover {
                background: none;
            }
        }

        .icons {
            padding-top: 15px;

            i {
                font-size: 18px;
            }
        }
    }

    .most-popular {
        display: none;
        visibility: hidden;
    }
}